# Python
venv/
__pycache__/
*.pyc

# Environment
.env

# Django
db.sqlite3

# Node
node_modules/

# Media
media/
storage/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

backend/config/cookies.txt
# IDE & OS
.DS_Store
Thumbs.db
*.swp
.vscode/
.idea/
